*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    
}
body{
  background-image: url('imges/sky.jpg');
    background-color:rgb(238, 171, 116) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 50vh;
}


#top{
    color: rgb(3, 69, 26);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 20px;
    margin-inline: 5vw;
}
li{
display: inline;
color: rbg(252, 239, 244);
text-shadow: -1px 0 rgb(234, 122, 23),0 1px black , 0 1px rgb(197, 114, 7);
font-family: Marker Felt, fantasy;

}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.mee{
    margin-top: 160px;
    background-color: rgba(44, 106, 107, 0.5);
    
   width: 100%;
   border-radius: 50%;
   object-fit: cover;
   height: 50vh;

}

.welcome{
    
}
h1{


font-size: 40pt;


color:white;
text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
font-family: Marker Felt, fantasy;
}   

h2{
    color: aliceblue;
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(10, 9, 9), 1px 0 black, 0 -1px rgb(0, 0, 0);
   font-family: Marker Felt, fantasy;
}

.footer{
    margin-top: 100%;
     background-color: #2c6a6ba3;
    height: 50px;
    width: 100%;
    font-size: larger;
    color: aliceblue;
    text-align: center;

}



@media (min-width: 1000px) {
    body{
        background-size: 50% 100%;
    }
    
}

